<div class="dialog-container">
  <h1 mat-dialog-title>Contacts</h1>
  <div mat-dialog-content>
    <div class="contact-section">
      @for (contact of contacts; track contact.id) {
      <div class="contact">
        <div>{{ contact.first_name }} {{ contact.last_name }}</div>
        <div class="edit-delete-container">
          <mat-icon (click)="editContact(contact.id)" class="icon"
            >edit</mat-icon
          >
          <mat-icon (click)="deleteContact(contact.id)" class="icon red"
            >delete</mat-icon
          >
        </div>
      </div>

      }
    </div>
  </div>
</div>
<mat-dialog-actions>
  <button mat-button mat-dialog-close (click)="dialogRef.close()">Close</button>
</mat-dialog-actions>
