.form {
  width: 100%;
}

.login-user-form {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 80px;
  gap: 40px;
  max-width: 600px;
}

.margin-0 {
  margin-bottom: 0 !important;
}

.password-visible-container {
  display: flex;
}
