<div class="register-container">
  <div class="inner-container">
    @if (loading) {
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    }
    <div class="login-user-form">
      <div class="titel-container">
        <img src="kanban.png" alt="kanban-icon" />
        <h1>Sign In</h1>
      </div>
      <form class="form" [formGroup]="form" (ngSubmit)="onSubmit()">
        <div>
          <div class="form-group">
            <div
              class="input-wrapper"
              [ngClass]="{ 'input-focused': isUsernameFocused }"
            >
              <label>Login ID</label>
              <input
                formControlName="username"
                (focus)="onUsernameFocus()"
                (blur)="onUsernameBlur()"
                name="username"
                class="form-control"
                type="text"
                placeholder="Username"
              />
              @if (submitted && f['username'].errors) {
              <div class="invalid-feedback">
                @if (f['username'].errors['required']) {
                <div>Username is required</div>
                } @if (f['username'].errors['minlength']) {
                <div>Username must be at least 6 characters</div>
                } @if (f['username'].errors['maxlength']) {
                <div>Username must not exceed 20 characters</div>
                }
              </div>
              }
            </div>
          </div>
          <div class="form-group margin-0">
            <div
              class="input-wrapper"
              [ngClass]="{ 'input-focused': isPasswordFocused }"
            >
              <label>Password</label>
              <div class="password-visible-container">
                <input
                  formControlName="password"
                  (focus)="onPasswordFocus()"
                  (blur)="onPasswordBlur()"
                  name="password"
                  class="form-control"
                  type="password"
                  placeholder="Enter Password"
                  matInput
                  [type]="hide() ? 'password' : 'text'"
                />
                <button
                  mat-icon-button
                  matSuffix
                  type="button"
                  (click)="togglePasswordVisibility($event)"
                  [attr.aria-label]="'Hide password'"
                  [attr.aria-pressed]="hide()"
                >
                  <mat-icon>{{
                    hide() ? "visibility_off" : "visibility"
                  }}</mat-icon>
                </button>
              </div>

              @if (submitted && f['password'].errors) {
              <div class="invalid-feedback">
                @if (f['password'].errors['required']) {
                <div>Password is required</div>
                } @if (f['password'].errors['minlength']) {
                <div>Password must be at least 6 characters</div>
                } @if (f['password'].errors['maxlength']) {
                <div>Username must not exceed 40 characters</div>
                }
              </div>
              }
            </div>
          </div>
          <!-- General Error Message -->
          <div class="error-container">
            @if (errorMessage) {
            <div class="alert">{{ errorMessage }}</div>
            }
          </div>
        </div>
        <div class="row">
          <div class="col">
            <button type="submit" class="btn btn-primary" [disabled]="loading">
              Login
            </button>
          </div>
          <div class="col">
            <br />
            <a routerLink="/signup" class="btn login-container"
              >Don't have an account yet? Register Now</a
            >
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
