<div class="task-card" [ngClass]="task.tags">
  <mat-icon class="button close-task-btn" (click)="closeTask()">close</mat-icon>
  <mat-icon class="button delete-task-btn" (click)="deleteTask()"
    >delete</mat-icon
  >

  <div class="title-container">
    <span class="description">Title</span>
    <div>
      @if(!textAreaTitle) {
      <p (click)="openTaskTitleTextArea()">{{ task.title }}</p>
      } @else {
      <textarea
        rows="1"
        (input)="autoExpand($event)"
        class="task-edit-input"
        [(ngModel)]="task.title"
        >{{ task.title }}</textarea
      >
      <div class="task-detail-edit-container">
        <button (click)="closeTextArea()" class="cancel-button">CANCEL</button>
        <button (click)="updateTask()">SAVE</button>
      </div>
      }
    </div>
  </div>
  <div>
    <span class="description">Description</span>
    <div>
      @if (!textAreaDescription) {
      <p (click)="openTaskDescriptionTextArea()">{{ task.description }}</p>
      } @else {
      <textarea class="task-edit-input" [(ngModel)]="task.description">{{
        task.title
      }}</textarea>
      <div class="task-detail-edit-container">
        <button (click)="closeDescriptionArea()" class="cancel-button">
          CANCEL
        </button>
        <button (click)="updateTask()">SAVE</button>
      </div>
      }
    </div>
  </div>

  <div class="color-section">
    <div class="point" [ngClass]="getTagClass(task.tags)"></div>
    <p>{{ task.tags }}</p>
  </div>
</div>
