<div class="task-card" [ngClass]="task.tags">
  <mat-icon class="button close-task-btn" (click)="closeTask()">close</mat-icon>
  <mat-icon class="button delete-task-btn" (click)="deleteTask()"
    >delete</mat-icon
  >

  <div class="title-container">
    <span class="description">Title</span>
    <div>
      @if(!textAreaTitle) {
      <p
        [ngStyle]="!task.title ? { color: '#3338b6' } : {}"
        (click)="openTaskTitleTextArea()"
      >
        {{ task.title || "Title hinzufügen" }}
      </p>
      } @else {
      <textarea
        [ngClass]="getTextAreaClass()"
        [(ngModel)]="newTitle"
        maxlength="200"
        >{{ task.title }}</textarea
      >
      <div class="task-detail-edit-container">
        <button (click)="closeTextArea()" class="cancel-button">CANCEL</button>
        <button [disabled]="newTitle.trim() == ''" (click)="updateTaskCard()">
          SAVE
        </button>
      </div>
      }
    </div>
  </div>
  <div>
    <span class="description">Description</span>
    <div>
      @if (!textAreaDescription) {
      <p
        [ngStyle]="!task.description ? { color: '#3338b6' } : {}"
        (click)="openTaskDescriptionTextArea()"
      >
        {{ task.description || "Description hinzufügen" }}
      </p>
      } @else {
      <textarea
        [ngClass]="getTextAreaClass()"
        [(ngModel)]="newDescription"
        maxlength="200"
        >{{ task.title }}</textarea
      >
      <div class="task-detail-edit-container">
        <button (click)="closeDescriptionArea()" class="cancel-button">
          CANCEL
        </button>
        <button (click)="updateTaskCard()">SAVE</button>
      </div>
      }
    </div>
  </div>

  <div class="member-container">
    <mat-form-field appearance="outline">
      <mat-select
        name="member"
        [(ngModel)]="selectedMembers"
        (ngModelChange)="onTagChange()"
        multiple
      >
        @for (user of users; track user.id) {
        <mat-option [value]="user">
          {{ user.first_name }} {{ user.last_name }}
        </mat-option>
        }
      </mat-select>
    </mat-form-field>
  </div>

  <div class="tag-container">
    <div class="color-box" [ngClass]="task.tags"></div>
    <mat-form-field appearance="outline">
      <mat-select
        [(ngModel)]="selectedColorValue"
        (ngModelChange)="onTagChange()"
        name="tag"
        required
      >
        @for (tag of tags; track tag) {
        <mat-option [value]="tag.value"
          ><span [class]="tag.pointClass" class="point"></span
          >{{ tag.viewValue }}</mat-option
        >
        }
      </mat-select>
    </mat-form-field>
  </div>
</div>
