mat-card {
  padding: 12px;
  color: #fff;
  color: black;
  text-align: start;
  border-radius: 3px;
}

.drag-and-drop-container {
  display: flex;
  gap: 15px;
  margin-bottom: 25px;
  height: 500px;
  background-color: #fff;

  p {
    margin: 0;
    padding: 10px 0;
  }
}

.column-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}

.title-container {
  display: flex;
  justify-content: center;
  padding: 16px;
  background-color: lightgrey;
  position: relative;
  border-radius: 3px;

  mat-icon {
    position: absolute;
    right: 16px;
    cursor: pointer;
    transform: scale(1.5);
    color: #3ec54e;
  }
}

.drap-and-drop-area {
  height: 100%;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.description-container {
  height: 20px;
  font-size: 12px;
}

.yellow {
  background-color: #ffffe0;
  border: 1px solid #f8db5e;
}

.blue {
  background-color: #cce3ff;
  border: 1px solid #8fc1ff;
}

.green {
  background-color: #dbffc2;
  border: 1px solid #86e257;
}

.yellow-class {
  border-top: 1px dashed #f8db5e;
}

.blue-class {
  border-top: 1px dashed #8fc1ff;
}
.green-class {
  border-top: 1px dashed #86e257;
}
