mat-card {
  padding: 12px;
  color: #fff;
  color: black;
  text-align: start;
  border-radius: 3px;
}

.drag-and-drop-container {
  display: flex;
  gap: 15px;
  margin: 20px;
  height: calc(100vh - 114px);

  box-sizing: border-box;
  overflow-x: auto;

  p {
    margin: 0;
    padding: 10px 0;
    word-break: break-all;
  }
}

.column-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
  max-width: 25%;
  background-color: #f0f2f4;
  border-radius: 16px;
  overflow: hidden;
}

.title-container {
  display: flex;
  justify-content: center;
  padding: 16px;
  position: relative;
  font-weight: 700;

  mat-icon {
    position: absolute;
    right: 16px;
    cursor: pointer;
    transform: scale(1.5);
    color: #3ec54e;
  }
}

.drap-and-drop-area {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
  overflow-y: auto;
  position: relative;

  /* Für WebKit-Browser (Chrome, Safari) */
  ::-webkit-scrollbar {
    width: 8px;
  }

  ::-webkit-scrollbar-track {
    background: transparent;
  }

  ::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 10px;
  }

  /* Für Firefox */
  scrollbar-width: thin; /* Dünne Scrollbar */
  scrollbar-color: rgba(0, 0, 0, 0.2) transparent;

  .loading-spinner {
    position: absolute;
    right: 50%;
    top: 10%;
    transform: translate(50%);
  }
}

.description-container {
  height: 20px;
  font-size: 12px;
}

.yellow {
  background-color: #ffffe0;
  border: 1px solid #f8db5e;
}

.blue {
  background-color: #cce3ff;
  border: 1px solid #8fc1ff;
}

.green {
  background-color: #dbffc2;
  border: 1px solid #86e257;
}

.yellow-class {
  border-top: 1px dashed #f8db5e;
}

.blue-class {
  border-top: 1px dashed #8fc1ff;
}
.green-class {
  border-top: 1px dashed #86e257;
}

.title-container-red {
  background-color: #f48897;
}

.title-container-yellow {
  background-color: #f5e688;
}

.title-container-green {
  background-color: #88f48f;
}

.title-container-blue {
  background-color: #89e2f4;
}
