<div class="drag-and-drop-container">
  <div class="column-container">
    <div class="title-container title-container-red">
      <div>To-do</div>
      <mat-icon (click)="triggerOpenDialog('todo')">add</mat-icon>
    </div>

    <div
      class="drap-and-drop-area"
      cdkDropList
      #todoList="cdkDropList"
      [cdkDropListData]="todoTasks"
      [cdkDropListConnectedTo]="[doTodayList, inProgressList, doneList]"
      (cdkDropListDropped)="drop($event)"
    >
      @if (loading) {
      <mat-spinner class="loading-spinner"></mat-spinner>
      } @for (task of todoTasks; track task.id) {
      <mat-card
        cdkDrag
        [cdkDragData]="this.task"
        [ngClass]="task.tags"
        (click)="openTaskCard(task)"
      >
        <p>{{ task.title }}</p>
        @if (task.description) {
        <p class="description-container" [ngClass]="getTagClass(task.tags)">
          {{ task.description }}
        </p>
        }
        <div class="member-section">
          @for (contact of task.members; track contact.id) {
          <div class="member-circle" [ngClass]="task.tags">
            {{ contact.first_name.charAt(0).toUpperCase()
            }}{{ contact.last_name.charAt(0).toUpperCase() }}
          </div>
          }
        </div>
      </mat-card>
      }
    </div>
  </div>
  <div class="column-container">
    <div class="title-container title-container-yellow">
      <div>Do today</div>
      <mat-icon (click)="triggerOpenDialog('doToday')">add</mat-icon>
    </div>
    <div
      class="drap-and-drop-area"
      cdkDropList
      #doTodayList="cdkDropList"
      [cdkDropListData]="doTodoyTasks"
      [cdkDropListConnectedTo]="[todoList, inProgressList, doneList]"
      (cdkDropListDropped)="drop($event)"
    >
      @if (loading) {
      <mat-spinner class="loading-spinner"></mat-spinner>
      } @for (task of doTodoyTasks; track task.id) {

      <mat-card
        cdkDrag
        [cdkDragData]="this.task"
        [ngClass]="task.tags"
        (click)="openTaskCard(task)"
      >
        <p>{{ task.title }}</p>
        @if (task.description) {
        <p class="description-container" [ngClass]="getTagClass(task.tags)">
          {{ task.description }}
        </p>
        }
        <div class="member-section">
          @for (contact of task.members; track contact.id) {
          <div class="member-circle" [ngClass]="task.tags">
            {{ contact.first_name.slice(0, 1).toUpperCase()
            }}{{ contact.last_name.slice(0, 1).toUpperCase() }}
          </div>
          }
        </div>
      </mat-card>
      }
    </div>
  </div>
  <div class="column-container">
    <div class="title-container title-container-green">
      <div>In progress</div>
      <mat-icon (click)="triggerOpenDialog('inProgress')">add</mat-icon>
    </div>
    <div
      class="drap-and-drop-area"
      cdkDropList
      #inProgressList="cdkDropList"
      [cdkDropListData]="inProgressTasks"
      [cdkDropListConnectedTo]="[todoList, doTodayList, doneList]"
      (cdkDropListDropped)="drop($event)"
    >
      @if (loading) {
      <mat-spinner class="loading-spinner"></mat-spinner>
      } @for (task of inProgressTasks; track task.id) {
      <mat-card
        cdkDrag
        [cdkDragData]="this.task"
        [ngClass]="task.tags"
        (click)="openTaskCard(task)"
      >
        <p>{{ task.title }}</p>
        @if (task.description) {
        <p class="description-container" [ngClass]="getTagClass(task.tags)">
          {{ task.description }}
        </p>
        }
        <div class="member-section">
          @for (contact of task.members; track contact.id) {
          <div class="member-circle" [ngClass]="task.tags">
            {{ contact.first_name.slice(0, 1).toUpperCase()
            }}{{ contact.last_name.slice(0, 1).toUpperCase() }}
          </div>
          }
        </div>
      </mat-card>
      }
    </div>
  </div>
  <div class="column-container">
    <div class="title-container title-container-blue">
      <div>Done</div>
      <mat-icon (click)="triggerOpenDialog('done')">add</mat-icon>
    </div>
    <div
      class="drap-and-drop-area"
      cdkDropList
      #doneList="cdkDropList"
      [cdkDropListData]="doneTasks"
      [cdkDropListConnectedTo]="[todoList, inProgressList, doTodayList]"
      (cdkDropListDropped)="drop($event)"
    >
      @if (loading) {
      <mat-spinner class="loading-spinner"></mat-spinner>
      } @for (task of doneTasks; track task.id) {
      <mat-card
        cdkDrag
        [cdkDragData]="this.task"
        [ngClass]="task.tags"
        (click)="openTaskCard(task)"
      >
        <p>{{ task.title }}</p>
        @if (task.description) {
        <p class="description-container" [ngClass]="getTagClass(task.tags)">
          {{ task.description }}
        </p>
        }
        <div class="member-section">
          @for (contact of task.members; track contact.id) {
          <div class="member-circle" [ngClass]="task.tags">
            {{ contact.first_name.slice(0, 1).toUpperCase()
            }}{{ contact.last_name.slice(0, 1).toUpperCase() }}
          </div>
          }
        </div>
      </mat-card>
      }
    </div>
  </div>
</div>
