<div class="dialog-container" [ngClass]="selectedColorValue">
  <h1 mat-dialog-title>Add Task</h1>
  <div mat-dialog-content>
    <div class="pt-6">
      <div class="top-section">
        <mat-form-field appearance="outline">
          <mat-label>Task name...</mat-label>
          <input
            [(ngModel)]="taskName"
            matInput
            placeholder="Task name"
            required
          />
          <!-- <mat-hint>Please enter a name</mat-hint> -->
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Description</mat-label>
          <input
            [(ngModel)]="taskDescription"
            matInput
            placeholder="Description"
          />
          <!-- <mat-hint>Please enter a name</mat-hint> -->
        </mat-form-field>

        <div class="member-container">
          <mat-form-field appearance="outline">
            <mat-label>Members</mat-label>
            <mat-select name="member" [(ngModel)]="selectedMembers" multiple>
              @for (member of users; track member) {
              <mat-option [value]="member">
                {{ member.first_name }} {{ member.last_name }}
              </mat-option>
              }
            </mat-select>
          </mat-form-field>
        </div>
      </div>
    </div>

    <div class="tag-container">
      <div class="color-box" [ngClass]="selectedColorValue"></div>
      <mat-form-field appearance="outline">
        <mat-label>Color</mat-label>
        <mat-select [(ngModel)]="selectedColorValue" name="tag">
          @for (tag of tags; track tag) {
          <mat-option [value]="tag.value"
            ><span [class]="tag.pointClass" class="point"></span
            >{{ tag.viewValue }}</mat-option
          >
          }
        </mat-select>
      </mat-form-field>
    </div>
  </div>
</div>
<div mat-dialog-actions [ngClass]="selectedColorValue">
  <button (click)="dialogRef.close()" mat-button>Cancel</button>
  <button [disabled]="taskName.trim() == ''" (click)="saveTask()" mat-button>
    Save
  </button>
</div>
