.pt-4 {
  padding-top: 4px;
}

.dialog-container {
  width: 400px;
}

.top-section {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  padding-top: 5px;
}

.tag-container {
  display: flex;
  align-items: center;
  gap: 12px;
  margin: 20px 0;

  .color-box {
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }

  .yellow {
    background-color: #f9e073;
  }

  .green {
    background-color: #86e257;
  }

  .blue {
    background-color: #8fc1ff;
  }

  .red {
    background-color: #ffa9b1;
  }

  .orange {
    background-color: #fcbf62;
  }

  .purple {
    background-color: #d9b5ff;
  }

  .magenta {
    background-color: #ffaeff;
  }

  .cyan {
    background-color: #7ee7e7;
  }
}

.yellow {
  background-color: #ffffe0;
}

.green {
  background-color: #e5ffd1;
}

.blue {
  background-color: #d6e9ff;
}

.red {
  background-color: #ffdfe3;
}

.orange {
  background-color: #ffeac2;
}

.purple {
  background-color: #f2e6ff;
}

.magenta {
  background-color: #ffebff;
}

.cyan {
  background-color: #e6ffff;
}

.point {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-right: 8px;
  vertical-align: middle;
}

::ng-deep .mat-mdc-form-field-subscript-wrapper {
  display: none;
}
