<div class="dashboard">
  <div class="headline">
    <h1>Kanban Board</h1>
    <div class="welcome-section">
      <p>Hello, {{ firstName }}! Ready to manage your tasks today?</p>
    </div>
    <button (click)="logout()" class="logout btn btn-primary">
      <mat-icon>logout</mat-icon>
      <span>Logout</span>
    </button>
  </div>

  <app-dashboard-drag-and-drop
    [tasks]="tasks"
    [users]="users"
    [loading]="loading"
    (openDialogAddTask)="openDialogAddTask($event)"
    (taskDeleted)="onTaskDeleted($event)"
    (reloadTasks)="reloadTasks()"
  ></app-dashboard-drag-and-drop>
</div>
